/* start banner section */
.custom-slideshow-selector {
  .hdt-slider__dot {
    width: 1.5rem !important;
    height: 1.5rem !important;
  }
  .hdt-slider .hdt-navigation {
    justify-content: center;
    top: auto;
    bottom: 22px;
    gap: 80px;
  }
  button {
    width: 18px !important;
  }
}
/* end banner section */

/* ----------------------------------------------------------------- */
/* start footer section */
/* first column */
.custom-footer-selector {
  #main_column_footer p {
    max-width: 60%;
  }
  .hdt-socials__item a {
    border: 0.2rem solid;
  }

  @media (max-width: 768px) {
    #main_column_footer p {
      max-width: 71%;
      margin: 0 auto;
    }
    .hdt-image-wrap {
      margin: 0 auto;
    }
    .hdt-copyright {
      text-align: center;
    }
    .hdt-copyright span {
      font-size: 13;
    }
  }

  .hdt-footer-heading {
    justify-content: center;
  }

  .hdt-menu li a,
  .hdt-copyright span {
    color: #c6a49099;
  }

  #copyright_row {
    border-top: 1px solid #d2b9941a;
  }
}

/* ----------------------------------------------------------------- */
/* end footer section */

/* ----------------------------------------------------------------- */
/* start collection list section */
.custom_collection_list {
  .hdt-absolute {
    position: absolute;
    bottom: 0;
    background: white;
    width: 100%;
    max-width: 100% !important;
  }
  .hdt-collection-item.hdt-collection-style16 {
    box-shadow: -18px 11px 20px #00000012;
    border-radius: 16px;
  }

  .hdt-container:has(.hdt-collection-item.hdt-collection-style16) {
    @media (max-width: 1149px) {
      padding-inline: 0;
    }

    .hdt-slider__viewport {
      overflow: visible;
    }

    .hdt-section-spacing {
      max-width: 100% !important;
      overflow: hidden;
    }
  }

  .hdt-slider__container:has(.hdt-collection-item.hdt-collection-style16) {
    @media (min-width: 768px) and (max-width: 1149px) {
      /* padding-left: 60px; */
    }

    @media (max-width: 767px) {
      /* padding-left: 30px; */
    }

    .hdt-collection-img {
      border: none;

      img {
        border-radius: 9px;
      }
    }
  }
}

/* ----------------------------------------------------------------- */
/* end collection list section */

/* ----------------------------------------------------------------- */
/* start featured collection section */
.hdt-card-product__title {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.hdt-card-product__info {
  background-color: white;
  padding: 13px 12px 18px 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.hdt-card-product__media + .hdt-card-product__info {
  margin-top: 0 !important;
}

.hdt-product-btns {
  width: 100%;
}

.hdt-product-form {
  justify-content: center;
}
.hdt-relative {
  position: relative;
}
.hdt-view-all-btn {
  position: absolute;
  top: 95px;
}
.hdt-product-carousel {
  margin-top: 74px;
}
@media (max-width: 1150px) {
  .hdt-view-all-btn {
    top: 76px !important;
  }
}
@media (max-width: 767px) {
  .hdt-view-all-btn {
    top: 48px !important;
  }
}
/* .hdt-slider__slide {
  flex: 0 0 calc(var(--slide-size)- 2%);
  min-width: 0px;
  padding-inline-start: var(--slide-spacing);
} */

.custom-shipping {
  .hdt-ship-icon {
    background-color: #eee4de;
  }
  .hdt-row-grid {
    gap: 0;
  }
  @media (min-width: 1150px) and (pointer: fine) {
    .hdt-icon-circle .hdt-shipping-item:hover .hdt-ship-icon:before {
      transform: scale(0);
    }
  }
  @media (min-width: 1150px) and (pointer: fine) {
    .hdt-shipping-item:hover .hdt-ship-icon {
      animation: none;
    }
  }
  .hdt-ship-item-wrap {
    border: none;

    &:not(:last-child) {
      border-inline-end: 1px solid #eee4de80;
      border-bottom: 1px solid #eee4de80;
    }

    &:last-child {
      border-inline-start: 1px solid #eee4de80;
      border-bottom: 1px solid #eee4de80;
    }
  }
}

/* ----------------------------------------------------------------- */
/* start featured collection section */
.custom_collection_list {
  .hdt-collection-inner {
    position: relative;
  }
  .hdt-collection-content {
    position: absolute;
    top: 500px;
  }

  .hdt-collection-wrapper {
    align-items: start;
  }
  .hdt-collection-title-text {
    color: black;
    font-size: 18px;
    font-weight: 700;
  }
  .hdt-collection-title {
    background-color: #192a3a;
    color: #d1b4a6;
    padding: 10px 20px;
    border-radius: 10px;
  }
  .hdt-collection-title:hover {
    color: #d1b4a6 !important;
  }
  :is(.hdt-collection-style15, .hdt-collection-style17) .hdt-collection-title {
    color: #d1b4a6;
  }
}
/* ----------------------------------------------------------------- */
/* end featured collection section */

/* ----------------------------------------------------------------- */
/* start custom shipping section */
.custom-shipping-2 {
  background-image: url("shippingImage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .hdt-ship-icon {
    background-color: #eee4de !important;
    border: #eee4de !important;
    padding: 30px;
    border-radius: 50% !important;

    @media (max-width: 767px) {
      width: 70px;
      height: 70px;
    }
  }
  .hdt-row-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  .hdt-whatsapp-banner {
    display: flex;
    justify-content: center;
  }
  .hdt-whatsapp-banner__link {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 8px 12px;
    border-radius: 10px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 16px;
  }
  @media (max-width: 420px) {
    .hdt-row-grid {
      gap: 15px;
    }
  }
}
/* ----------------------------------------------------------------- */
/* end custom shipping section */

.custom-testimonials {
}
